 @model PipeLightsOrderManagementApp.Models.OrderDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteOrder</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fromInputToDataase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fromInputToDataase.styles.css" asp-append-version="true" />

   

</head>
<body>

<h3>Esti sigur ca vrei sa stergi comanda: @ViewBag.OrderNumber ?</h3>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Comanda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            Nume
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Sex
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Adresa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            Model
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lamp)
        </dd>
        <dt class = "col-sm-2">
            Pret
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) RON
        </dd>
        <dt class = "col-sm-2">
            Culoare si caracteristici
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            <time> @Model.OrderDate.ToString("dd-MM-yyyy")</time>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            <time> @Model.OrderDate.ToString("dd-MM-yyyy")</time>
        </dd>
        <dt class = "col-sm-2">
            Canal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Channel)
        </dd>
        <dt class = "col-sm-2">
            Judet
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characteristics)
        </dd>
    </dl>
    
    <a href="~/Order/Delete?id=@Model.Id"><div class="btn btn-danger">Sterge</div></a>
    <a href="~/Order/ShowAllOrders"><div class="btn btn-success ">Inapoi</div></a>
    


</div>
</body>
</html>
