@model PipeLightsOrderManagementApp.Models.OrderDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowOrderDetails</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fromInputToDataase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fromInputToDataase.styles.css" asp-append-version="true" />


   
</head>
<body>

<div>
    <h4>Comanda @Model.OrderNumber</h4>
    <hr />
    <dl class="row">
        
        
        <dd style="display:none" class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Cmanda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            Nume
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Sex
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Adresa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            Model
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lamp)
        </dd>
        <dt class = "col-sm-2">
            Pret
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Culoare si caracteristici
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            Data Comanda
        </dt>
        <dd class = "col-sm-10">
             <time> @Model.OrderDate.ToString("dd-MM-yyyy")</time>
        </dd>
        <dt class = "col-sm-2">
            Data Livrare
        </dt>
        <dd class = "col-sm-10">
            <time> @Model.DeliveryDate.ToString("dd-MM-yyyy")</time>
        </dd>
        <dt class = "col-sm-2">
            Canal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Channel)
        </dd>
        <dt class = "col-sm-2">
            Judet
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characteristics)
        </dd>
    </dl>
</div>
<div>
    <a href="~/Order/Edit?id=@Model.Id">Editeaza</a> |
    <a asp-action="ShowAllOrders">Inapoi</a>
</div>
</body>
</html>
