@model IEnumerable<PipeLightsOrderManagementApp.Models.OrderDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllOrders</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fromInputToDataase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fromInputToDataase.styles.css" asp-append-version="true" />

  
</head>
<body>
<p>
    <a class="btn btn-success" href="~/Home/NewOrder">Introdu o noua comanda</a>
</p>

<br />


<div style="display:flex; justify-content:space-around; align-items:center" class="container-xxxl bg-light p-3">

   @* search form*@

    <form action="~/Operation/SearchInOrders" method="post">
      <div style="width:200px" class="input-group">
          <input name="searchString" type="search" class="form-control rounded" placeholder="Cauta" aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                                </svg>
          </button>
      </div>
    </form>

    @*sorting select*@

    <form style="display:flex; justify-content:center; align-items:center" action="~/Operation/SortOrders" method="post">
        <select name="Sort" class="form-select">
          <option value="1">Nume Crescator</option>
          <option value="2">Nume Descrescator</option>
          <option value="3">Pret Crescator</option>
          <option value="4">Pret Descrescator</option>
        </select>
        <button type="submit" class="btn btn-success">Sorteaza</button>
    </form>
</div>
<br />

    @*informations*@
<div style="display:flex; justify-content:space-around; align-items:center" class="container-xxxl bg-light p-3">
    <div>Numar comenzi: @ViewBag.OrdersNumber</div>
    <div>
        <div>
            <div>Masculin: @ViewBag.GenderM (@ViewBag.MalePercent %)</div>
        </div>
        <div>
            <div>Feminin: @ViewBag.GenderF (@ViewBag.FemalePercent %)</div>
        </div>
    </div>

    <div>
        <div>
            <div>Website: @ViewBag.website (@ViewBag.WebsitePercent %)</div>
        </div>
        <div>
            <div>Instagram: @ViewBag.Instagram (@ViewBag.InstagramPercent %)</div>
        </div>
        <div>
            <div>Facebook: @ViewBag.Facebook (@ViewBag.FacebookPercent %)</div> 
        </div>
        <div>
            <div>Telefon: @ViewBag.Telefon (@ViewBag.TelefonPercent %)</div>
        </div>
        <div>
            <div>Targ: @ViewBag.Targ (@ViewBag.TargPercent %)</div>
        </div>
    </div>
    
</div>

<br />
<br />
<table style="width:100%; font-size:20px" class="table">
    <thead>
        <tr>
            
            <th>
                Comanda
            </th>
            <th>
                Nume
            </th>
            <th>
                Sex
            </th>
            
            <th>
                Model
            </th>
            <th>
                Pret(RON)
            </th>
            
            <th>
               Data Plasare
            </th>
            <th>
               Canal
            </th>
            <th>
               Judet
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Lamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
            <td>
                <time> @item.OrderDate.ToString("dd-MM-yyyy")</time>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characteristics)
            </td>

            <td>
                <a href="~/Order/ShowOrderDetails?id=@item.Id">Detalii</a> |
                <a href="~/Order/Edit?id=@item.Id">Editeaza</a> |
                <a href="~/Order/DeleteOrder?id=@item.Id">Sterge</a>
            </td>
        </tr>
        
}
    </tbody>
</table>


</body>
</html>
